body{
  background-color: #D6E2F0;
  background-color: hsl(212, 45%, 89%);
  font-size: 18px;
  text-align: center;
  font-family: Outfit, sans-serif;
  padding-top: 20px;
}
.card-box{
  background-color: white;
  text-align: center;
  display: block;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}
.img{
  max-width: 275px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 20px;
}
h3{
  color: #1F3251;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
p{
  color: #7B879D;
  color: hsl(220,15%,55%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 375px){
   .view {
       width: 375px;
   }
}
/* For desktop */
@media screen and (min-width: 540px) and (max-width: 1440px) {
   .view {
       width: 1440px;
}
}
.attribution{
     font-size: 11px;
     text-align: center;
     color: #3E52A3;
    color: hsl(228, 45%, 44%);
}
